:root {
  --black: #1d1c1a;
  --light-gray: #c2c0b9;
  --white: #fdfdfd;
  --primary: #e5cc80;
  --mid-gray: #3f3e3a;
  --dark-gray: #292825;
  --dg-red: #ec1b30;
  --safety-orange: #ff7900;
  --tan: #e5cc80;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--black);
  color: var(--light-gray);
  font-family: Inter Variable, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.1;
}

h3 {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: .8em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-bottom: 1em;
}

a {
  color: var(--light-gray);
  transition: color .1s ease-out;
}

a:hover {
  color: var(--white);
}

a:focus-visible {
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--primary);
  outline-width: 0;
  outline-style: none;
}

a[data-wf-focus-visible] {
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--primary);
  outline-width: 0;
  outline-style: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 2.2em;
}

li {
  margin-bottom: .3em;
}

img {
  max-width: 100%;
  border-radius: 4px;
  display: inline-block;
}

label {
  margin-bottom: 5px;
  display: block;
}

strong {
  font-weight: bold;
}

.h1 {
  letter-spacing: -.025em;
  margin-top: 0;
  margin-bottom: .3em;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 1.1;
}

.h2 {
  margin-top: 0;
  margin-bottom: .3em;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.1;
}

.h3 {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.h4 {
  margin-top: 0;
  margin-bottom: .8em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.section.cc-hero {
  min-height: 60vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section.cc-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section.cc-toolset {
  padding-bottom: 0;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container.cc-centered {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.container.cc-small {
  max-width: 992px;
}

.row {
  flex-wrap: wrap;
  align-content: stretch;
  margin-bottom: -32px;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}

.row.row-justify-end {
  justify-content: flex-end;
}

.row.row-justify-between {
  justify-content: space-between;
}

.row.row-align-end {
  align-items: flex-end;
}

.row.row-justify-center {
  justify-content: center;
}

.row.row-align-center {
  align-items: center;
}

.row.row-justify-around {
  justify-content: space-around;
}

.row.row-no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row.row-center-all {
  justify-content: center;
  align-items: center;
}

.col {
  flex: 1;
  margin-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.col.col-lg-3 {
  max-width: 25%;
  flex-basis: 25%;
}

.col.col-lg-6 {
  max-width: 50%;
  flex-basis: 50%;
}

.col.col-lg-7 {
  max-width: 58.3333%;
  flex-basis: 58.33%;
}

.col.col-lg-2 {
  max-width: 16.6667%;
  flex-basis: 16.67%;
}

.col.col-lg-5 {
  max-width: 41.6667%;
  flex-basis: 41.67%;
}

.col.col-no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.col.col-lg-9 {
  max-width: 75%;
  flex-basis: 75%;
}

.col.col-lg-12 {
  max-width: 100%;
  flex-basis: 100%;
}

.col.col-lg-11 {
  max-width: 91.6667%;
  flex-basis: 91.67%;
}

.col.col-lg-8 {
  max-width: 66.6667%;
  flex-basis: 66.67%;
}

.col.col-lg-4 {
  max-width: 33.3333%;
  flex-basis: 33.33%;
}

.col.col-lg-10 {
  max-width: 83.3333%;
  flex-basis: 83.33%;
}

.col.col-lg-1 {
  max-width: 8.33333%;
  flex-basis: 8.33%;
}

.col.col-shrink {
  flex: 0 auto;
}

.col.col-lg-first {
  order: -1;
}

.col.col-lg-last {
  order: 1;
}

.btn {
  border: 1px solid var(--mid-gray);
  background-color: var(--dark-gray);
  color: var(--light-gray);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: .5em .7em;
  font-size: .9rem;
  font-weight: 500;
  text-decoration: none;
  transition: color .1s ease-out, border-color .1s ease-out, background-color .1s ease-out;
  display: inline-block;
}

.btn:hover {
  background-color: var(--mid-gray);
  color: var(--light-gray);
}

.btn:active {
  color: var(--white);
}

.btn:focus-visible {
  border-color: var(--primary);
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline: 0 rgba(0, 0, 0, 0);
}

.btn[data-wf-focus-visible] {
  border-color: var(--primary);
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline: 0 rgba(0, 0, 0, 0);
}

.btn.cc-dark {
  background-color: var(--black);
}

.btn.cc-dark:hover {
  background-color: var(--mid-gray);
}

.btn.cc-dark:focus-visible {
  background-color: var(--primary);
}

.btn.cc-dark[data-wf-focus-visible] {
  background-color: var(--primary);
}

.btn.cc-secondary {
  border-color: var(--mid-gray);
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.btn.cc-secondary.cc-light {
  border-color: var(--white);
  color: var(--white);
}

.btn.cc-secondary.cc-light:hover {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, .15);
}

.btn.cc-full {
  width: 100%;
}

.btn.cc-cta {
  color: var(--primary);
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  padding: .5em .7em;
  font-weight: 500;
  line-height: 1.1;
  transition: color .1s ease-out, background-color .1s ease-out;
}

.btn.cc-cta:hover {
  background-color: rgba(253, 253, 253, .06);
}

.btn.cc-cta:active {
  background-color: rgba(253, 253, 253, .12);
}

.btn.cc-cta:focus-visible {
  background-color: var(--primary);
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  outline-style: solid;
}

.btn.cc-cta[data-wf-focus-visible] {
  background-color: var(--primary);
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  outline-style: solid;
}

.btn.cc-cta.cc-nav {
  margin-right: -.7em;
}

.btn.cc-flex {
  display: flex;
}

.btn.cc-404 {
  align-self: center;
}

.card {
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  display: flex;
  position: relative;
  overflow: hidden;
}

.card.cc-work {
  border: 1px solid var(--mid-gray);
  background-color: var(--dark-gray);
  text-decoration: none;
  overflow: visible;
}

.card.cc-benefits {
  border-top: 1px solid var(--mid-gray);
  border-right: 1px solid var(--mid-gray);
  border-left: 1px solid var(--mid-gray);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card-body {
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  position: relative;
}

.card-body.cc-work {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.card-body.cc-accordion {
  width: 100%;
}

.card-body.cc-benefits {
  padding-top: 3rem;
  padding-left: 24px;
  padding-right: 24px;
}

.card-body.cc-about {
  padding: 24px;
}

.card-body.cc-modal {
  align-items: center;
  padding: 64px 32px;
  display: flex;
}

.card-body.cc-modal.cc-pb-0 {
  padding-bottom: 0;
}

.form {
  width: 100%;
  min-width: 560px;
  text-align: left;
  position: relative;
}

.form-success {
  width: 100%;
  min-height: 340px;
  min-width: 560px;
  background-color: var(--dark-gray);
  border-radius: 8px;
  padding: 128px 24px 24px;
  position: relative;
}

.form-success_flex {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-error {
  border: 1px solid var(--dg-red);
  color: var(--dg-red);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  margin-top: 1em;
  padding: .5em .7em;
  font-weight: 500;
}

.input-group {
  text-align: left;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-top: 1px;
  padding-bottom: 40px;
  padding-right: 1px;
  display: block;
  position: relative;
}

.input-group.cc-textarea {
  min-height: 220px;
}

.input-group.cc-toggle {
  margin-bottom: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.input {
  height: 100%;
  min-height: 65px;
  border: 0px solid var(--mid-gray);
  background-color: var(--dark-gray);
  color: var(--white);
  border-radius: 8px;
  margin-bottom: 0;
  padding: 32px 16px 8px;
  font-size: 1rem;
  transition: border-color .1s cubic-bezier(.165, .84, .44, 1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.input:hover, .input:focus {
  border-color: var(--primary);
}

.input:focus-visible {
  outline-color: var(--primary);
  outline-offset: 0px;
  outline-width: 2px;
  outline-style: solid;
}

.input[data-wf-focus-visible] {
  outline-color: var(--primary);
  outline-offset: 0px;
  outline-width: 2px;
  outline-style: solid;
}

.input::-ms-input-placeholder {
  color: rgba(253, 253, 253, .14);
}

.input::placeholder {
  color: rgba(253, 253, 253, .14);
}

.input.cc-light {
  color: var(--white);
}

.input-label {
  z-index: 1;
  border-top-right-radius: 3px;
  margin-bottom: 0;
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 4px;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1;
  position: relative;
}

.input-label.cc-static {
  cursor: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .5em;
  margin-left: 0;
  padding-top: 0;
}

.input-label.cc-radio {
  width: 100%;
  height: 100%;
  pointer-events: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding: 1em .8em;
  line-height: 1.6;
  display: flex;
}

.input-radio {
  width: 100%;
  height: 100%;
  border: 0px none var(--dark-gray);
  background-color: var(--dark-gray);
  cursor: pointer;
  border-radius: 8px;
  margin-top: 0;
  margin-left: 0;
  transition: background-color .1s ease-out;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.input-radio:hover {
  border-color: var(--primary);
  background-color: var(--mid-gray);
}

.input-radio.w--redirected-checked {
  border-width: 1px;
  border-color: var(--primary);
  background-color: var(--primary);
}

.input-radio.w--redirected-focus {
  border-color: var(--primary);
  box-shadow: none;
  outline-color: var(--primary);
  outline-offset: 0px;
  outline-width: 3px;
  outline-style: solid;
}

.utility_form {
  text-align: left;
  flex-direction: column;
}

.utility_container {
  width: 90%;
  max-width: 600px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.page-wrapper {
  position: relative;
}

.page-wrapper.cc-utility {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.styles__section-label {
  border-bottom: 2px dotted var(--mid-gray);
  letter-spacing: 0;
  text-transform: none;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding-bottom: 8px;
}

.styles__card-preview {
  width: 100%;
  min-height: 120px;
  border-bottom: 1px solid var(--black);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.styles__visual-div {
  text-align: center;
  background-color: rgba(0, 115, 230, .1);
  border: 1px solid #0073e6;
  border-radius: 3px;
  padding: 16px;
  position: relative;
}

.styles__global-embed-code {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.styles__row-example {
  height: 200px;
  border: 1px dashed var(--mid-gray);
  margin-top: 4px;
  padding: 20px;
}

.styles__selector-callout {
  color: #fff;
  background-color: #0073e6;
  border-radius: 3px;
  margin-top: .1em;
  margin-bottom: .1em;
  margin-right: .2em;
  padding: .08em .6em;
  font-family: Inconsolata, monospace;
  font-size: .8rem;
  line-height: 1.7;
  display: inline-block;
  position: relative;
  top: -1px;
}

.styles__selector-callout.cc-element {
  background-color: #d13591;
}

.styles__utility-wrap {
  margin-bottom: 40px;
  padding: 1px;
}

.styles__utility-wrap.cc-margin {
  background-image: url('../images/bg-margin.svg');
  background-position: 0 0;
  background-size: 4px;
}

.styles__utility-wrap.cc-padding {
  background-image: url('../images/bg-padding.svg');
  background-position: 0 0;
  background-size: 4px;
}

.styles__nav {
  z-index: 2;
  background-color: var(--black);
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.styles__nav-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.styles__nav-link {
  color: var(--white);
  letter-spacing: .03em;
  padding: .6em .8em;
  font-size: .85em;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.styles__nav-link:hover, .styles__nav-link.w--current {
  text-decoration: underline;
}

.styles__nav-link.cc-cta {
  background-color: var(--primary);
  border-radius: 4px;
  margin-left: .4em;
}

.styles__nav-link.cc-cta:hover {
  background-color: var(--dark-gray);
  text-decoration: none;
}

.styles__nav-version {
  background-color: var(--primary);
  color: var(--white);
  text-transform: none;
  border-radius: 4px;
  margin-left: .8em;
  padding: .35em .5em .4em;
  font-size: .7em;
  display: inline-block;
}

.styles__card {
  background-color: rgba(0, 115, 230, .1);
  border: 1px solid #0073e6;
  border-radius: 8px;
  overflow: hidden;
}

.styles__nav-logo {
  width: 64px;
  color: var(--primary);
  line-height: .8;
}

.styles_utility-card {
  background-color: var(--black);
  border: 1px solid #0073e6;
  padding: 20px;
}

.eyebrow {
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  font-family: JetBrains Mono Variable, Arial, sans-serif;
  font-size: .9rem;
  font-weight: 400;
}

.paragraph-0-9 {
  font-size: .9rem;
  line-height: 1.4;
}

.paragraph-1-25 {
  font-size: 1.25rem;
}

.paragraph-1-5 {
  font-size: 1.5rem;
}

.u-bg-primary {
  background-color: var(--primary);
}

.u-bg-base {
  background-color: var(--black);
}

.u-bg-darkgray {
  background-color: var(--dark-gray);
}

.u-bg-midgray {
  background-color: var(--mid-gray);
}

.u-bg-lightgray {
  background-color: var(--light-gray);
}

.u-bg-white {
  background-color: var(--white);
}

.u-text-primary {
  color: var(--primary);
}

.u-text-base {
  color: var(--black);
}

.u-text-darkgray {
  color: var(--dark-gray);
}

.u-text-midgray {
  color: var(--mid-gray);
}

.u-text-lightgray {
  color: var(--light-gray);
}

.u-text-white {
  color: var(--white);
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-visible {
  overflow: visible;
}

.u-d-flex {
  display: flex;
}

.u-d-flex.cc-align-center {
  align-items: center;
}

.u-d-none {
  display: none;
}

.u-d-block {
  display: block;
}

.u-sr-only {
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0 solid rgba(0, 0, 0, 0);
  margin-top: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.u-h-100 {
  height: 100%;
}

.u-w-100 {
  width: 100%;
}

.u-aspect-1x1 {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.u-img-cover {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.u-link-cover {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.u-link-cover:focus-visible {
  outline-color: var(--primary);
  outline-offset: 0px;
  outline-width: 3px;
  outline-style: solid;
}

.u-link-cover[data-wf-focus-visible] {
  outline-color: var(--primary);
  outline-offset: 0px;
  outline-width: 3px;
  outline-style: solid;
}

.u-z-index-1 {
  z-index: 1;
  position: relative;
}

.u-mt-0 {
  margin-top: 0;
}

.u-mt-2 {
  margin-top: 2em;
}

.u-mt-3 {
  margin-top: 3em;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mt-1 {
  margin-top: 1em;
}

.u-mb-1 {
  margin-bottom: 1em;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-2 {
  margin-bottom: 2em;
}

.u-mb-3 {
  margin-bottom: 3em;
}

.u-mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-mr-1 {
  margin-right: 1em;
}

.u-m-0 {
  margin: 0;
}

.u-ml-1 {
  margin-left: 1em;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-pb-1 {
  padding-bottom: 1em;
}

.u-pb-3 {
  padding-bottom: 3em;
}

.u-pb-2 {
  padding-bottom: 2em;
}

.u-pt-1 {
  padding-top: 1em;
}

.u-pt-2 {
  padding-top: 2em;
}

.u-pt-3 {
  padding-top: 3em;
}

.u-p-1 {
  padding: 1em;
}

.u-p-0 {
  padding: 0;
}

.u-pt-0 {
  padding-top: 0;
}

.u-border {
  width: 90%;
  height: 1px;
  max-width: 1280px;
  background-color: var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
}

.u-border.cc-nav {
  margin-top: 8px;
}

.u-position-relative {
  position: relative;
}

.page-main {
  overflow: hidden;
}

.u-tag {
  background-color: var(--black);
  border-radius: 4px;
  margin-bottom: .5em;
  margin-right: .5em;
  padding: .5em .7em;
  font-size: .8rem;
  line-height: 1.1;
  display: inline-block;
}

.card-header {
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  position: relative;
}

.card-header.cc-benefits {
  border-bottom: 1px solid var(--mid-gray);
  background-color: var(--dark-gray);
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3.5rem;
  display: flex;
}

.card-header.cc-work {
  border-bottom: 1px solid var(--mid-gray);
  flex-direction: row;
  justify-content: space-between;
}

.card-header.cc-modal {
  border-bottom: 1px solid var(--mid-gray);
  background-color: var(--dark-gray);
  text-align: center;
  align-items: center;
  padding: 40px 32px;
  display: flex;
}

.nav {
  z-index: 2;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(29, 28, 26, .9);
  padding-top: 8px;
  line-height: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-link {
  border-radius: 4px;
  padding: .5em .7em;
  font-size: .9rem;
  text-decoration: none;
  transition: background-color .1s ease-out, color .1s ease-out;
  display: inline-block;
}

.nav-link:hover {
  color: var(--white);
}

.nav-link:focus-visible {
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
}

.nav-link[data-wf-focus-visible] {
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.nav-menu {
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.nav-logo {
  color: var(--white);
  border-radius: 8px;
  margin-left: -.7em;
  padding: .5em .7em;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .1s ease-out, color .1s ease-out;
}

.nav-logo:hover {
  color: var(--light-gray);
}

.nav-logo:focus-visible {
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
}

.nav-logo[data-wf-focus-visible] {
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
}

.nav-skip-link {
  z-index: 100;
  width: 100%;
  height: 0;
  color: var(--light-gray);
  border-radius: 8px;
  justify-content: center;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .1s ease-out, color .1s ease-out;
  display: flex;
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%);
}

.nav-skip-link:focus-visible {
  height: auto;
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  padding: .5em .7em;
}

.nav-skip-link[data-wf-focus-visible] {
  height: auto;
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  padding: .5em .7em;
}

.work_link {
  width: 24px;
  height: 24px;
  background-color: var(--black);
  border-radius: 4px;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  font-weight: 300;
  line-height: 1;
  display: flex;
}

.work_link.ext {
  padding-top: 2px;
}

.accordion-background {
  z-index: -1;
  background-color: var(--dark-gray);
  border-radius: 8px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.accordion-content_spacer {
  text-align: left;
  margin-top: .5em;
}

.accordion-trigger {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1em;
  padding: 0;
  text-decoration: none;
  transition: color .1s ease-out, border-color .1s ease-out, background-color .1s ease-out;
  display: flex;
  position: relative;
}

.accordion-trigger:hover {
  background-color: var(--mid-gray);
}

.accordion-trigger:focus-visible {
  background-color: var(--primary);
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  outline-style: none;
}

.accordion-trigger[data-wf-focus-visible] {
  background-color: var(--primary);
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  outline-style: none;
}

.accordion-title-wrap {
  text-align: left;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.accordion-content {
  width: 100%;
  overflow: hidden;
}

.accordion-icon {
  width: 18px;
  height: 18px;
  background-color: var(--black);
  color: var(--light-gray);
  border-radius: 20px;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  padding-top: 0;
  font-weight: 300;
  line-height: 1;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.hero-subtext {
  max-width: 320px;
}

.subtext-block, .about-text {
  max-width: 540px;
}

.footer-div {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-link {
  border-radius: 4px;
  padding: .5em .7em;
  font-size: .9rem;
  line-height: 1;
  text-decoration: none;
  transition: background-color .1s ease-out, color .1s ease-out;
  display: inline-block;
}

.footer-link:hover {
  color: var(--white);
}

.footer-link:focus-visible {
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
}

.footer-link[data-wf-focus-visible] {
  background-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
}

.hero-bg {
  z-index: -10;
  max-width: none;
  pointer-events: none;
  object-fit: fill;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: auto;
}

.u-d-relative {
  position: relative;
}

.input-grid {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.input-radio-wrapper {
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
}

.modal-close_btn-old {
  z-index: 10;
  width: 32px;
  height: 32px;
  color: var(--light-gray);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  margin-right: 4px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: opacity .2s;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.modal-close_btn-old:hover {
  background-color: var(--dark-gray);
  border-radius: 8px;
}

.modal-close_btn-old:focus-visible {
  background-color: var(--primary);
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  outline-style: none;
}

.modal-close_btn-old[data-wf-focus-visible] {
  background-color: var(--primary);
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  outline-style: none;
}

.modal-close_area_old {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-wrapper {
  z-index: 99999;
  background-color: rgba(20, 20, 20, .8);
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.modal-wrapper.cc-contact {
  display: none;
}

.modal-container {
  z-index: 10;
  width: 90%;
  max-width: 992px;
  border: 1px solid var(--mid-gray);
  background-color: var(--black);
  border-radius: 8px;
  margin: 5vh auto;
  display: block;
  position: relative;
  overflow: hidden;
}

.modal-close_btn {
  z-index: 50;
  width: 32px;
  height: 32px;
  background-color: var(--black);
  color: var(--light-gray);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  padding-bottom: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: background-color .1s ease-out, color .1s ease-out;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.modal-close_btn:hover {
  background-color: var(--dark-gray);
}

.modal-close_btn:active {
  background-color: var(--mid-gray);
}

.modal-close_btn:focus-visible {
  background-color: var(--primary);
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  outline-style: none;
}

.modal-close_btn[data-wf-focus-visible] {
  background-color: var(--primary);
  outline-color: var(--primary);
  outline-offset: 0px;
  color: var(--black);
  outline-width: 0;
  outline-style: none;
}

.modal-close_btn.cc-footer {
  width: auto;
  height: auto;
  text-align: center;
  margin-top: .7em;
  margin-right: 0;
  padding: .5em .7em;
  font-size: .9rem;
  display: block;
  position: static;
}

.modal-close_btn.cc-footer:hover {
  background-color: rgba(253, 253, 253, .06);
}

.modal-close_btn.cc-footer:active {
  background-color: rgba(253, 253, 253, .12);
}

.modal-close_btn.cc-success {
  width: auto;
  height: auto;
  margin-top: 2em;
  margin-right: 0;
  padding: .5em .7em;
  font-size: .9rem;
  display: inline-block;
  position: static;
}

.modal-close_area {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-open_btn {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  padding: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-open_btn:focus-visible {
  outline-color: var(--primary);
  outline-offset: 0px;
  outline-width: 3px;
  outline-style: solid;
}

.modal-open_btn[data-wf-focus-visible] {
  outline-color: var(--primary);
  outline-offset: 0px;
  outline-width: 3px;
  outline-style: solid;
}

.stack-icon {
  width: 60px;
  height: 60px;
  border: 1px solid var(--dark-gray);
  pointer-events: none;
  border-radius: 8px;
  margin-left: .5em;
  margin-right: .5em;
}

.stack-wrapper.cc-mob-only {
  display: none;
}

.embed-icon {
  border-radius: 20px;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-right: .5em;
  font-weight: 300;
  line-height: 1;
  display: flex;
}

.u-separator {
  height: 1px;
  background-color: var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
}

.u-align-left {
  text-align: left;
}

.u-d-inline-block {
  display: inline-block;
}

.work-tag-wrapper {
  margin-bottom: -.5em;
}

.case-study-info {
  height: 36px;
  background-color: var(--dark-gray);
  border-radius: 4px;
  margin-bottom: 1em;
  margin-right: .5em;
  padding: .5em;
  display: inline-block;
}

.price-embed {
  width: 20px;
  height: 20px;
  margin-left: .25em;
  margin-right: .25em;
  display: inline-block;
}

.case-study-info-wrapper {
  flex-flow: wrap;
  display: flex;
}

.card-footer {
  border-top: 1px solid var(--mid-gray);
  background-color: var(--dark-gray);
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 32px 32px;
  display: flex;
  position: relative;
}

.form-error-text {
  align-items: center;
  display: flex;
}

.card-footer-info {
  flex-direction: column;
  display: flex;
}

.esc-to-close {
  width: 164px;
  height: 38.8438px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: -.5em;
  margin-right: 0;
  padding: .5em .7em;
  font-size: .9rem;
  font-weight: 500;
  display: flex;
  position: static;
}

.esc-to-close:hover {
  color: var(--white);
}

.esc-to-close:active {
  background-color: rgba(0, 0, 0, 0);
}

.esc-to-close:focus-visible {
  background-color: var(--primary);
  color: var(--black);
}

.esc-to-close[data-wf-focus-visible] {
  background-color: var(--primary);
  color: var(--black);
}

.btn_key {
  background-color: rgba(128, 128, 128, .3);
  border-radius: 4px;
  margin-right: .5em;
  padding: .3em .5em .4em;
  line-height: 1;
  display: inline-block;
}

.embed-icon_btn {
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-left: .5em;
  font-weight: 300;
  line-height: 1;
  display: flex;
}

.warning-text {
  justify-content: center;
  margin-top: 2em;
  display: flex;
}

.contact-btn-grid {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  display: grid;
}

.u-no-radius {
  border-radius: 0;
}

.case-study_img {
  margin-top: 4em;
  margin-bottom: 3em;
}

.about_img {
  object-fit: cover;
}

.online-dot {
  width: 24px;
  height: 24px;
  margin-right: .35em;
}

.availability {
  background-color: var(--dark-gray);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 1em;
  padding: .25em .7em .25em .35em;
  display: flex;
}

@media screen and (max-width: 991px) {
  .row.row-md-reverse {
    flex-wrap: wrap-reverse;
  }

  .col.col-md-9 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col.col-md-2 {
    max-width: 16.6667%;
    flex-basis: 16.67%;
  }

  .col.col-md-6 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col.col-md-5 {
    max-width: 41.6667%;
    flex-basis: 41.67%;
  }

  .col.col-md-4 {
    max-width: 33.3333%;
    flex-basis: 33.33%;
  }

  .col.col-md-11 {
    max-width: 91.6667%;
    flex-basis: 91.67%;
  }

  .col.col-md-3 {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col.col-md-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
  }

  .col.col-md-7 {
    max-width: 58.3333%;
    flex-basis: 58.33%;
  }

  .col.col-md-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
  }

  .col.col-md-1 {
    max-width: 8.33333%;
    flex-basis: 8.33%;
  }

  .col.col-md-12 {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-md-first {
    order: -1;
  }

  .col.col-md-last {
    order: 1;
  }

  .u-mt-0 {
    margin-top: 0;
  }

  .u-mb-0 {
    margin-bottom: 0;
  }

  .u-m-0 {
    margin: 0;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .u-p-0 {
    padding: 0;
  }

  .u-pt-0 {
    padding-top: 0;
  }

  .input-grid {
    grid-template-columns: 1fr 1fr;
  }

  .case-study_img {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .about_img {
    aspect-ratio: 1 / 1;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .8rem;
  }

  p {
    font-size: .9rem;
  }

  .h1 {
    font-size: 2.25rem;
  }

  .h2 {
    font-size: 1.75rem;
  }

  .h3 {
    font-size: 1.15rem;
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .col.col-sm-12 {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-sm-9 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col.col-sm-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
  }

  .col.col-sm-7 {
    max-width: 58.3333%;
    flex-basis: 58.33%;
  }

  .col.col-sm-5 {
    max-width: 41.6667%;
    flex-basis: 41.67%;
  }

  .col.col-sm-6 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col.col-sm-3 {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col.col-sm-4 {
    max-width: 33.3333%;
    flex-basis: 33.33%;
  }

  .col.col-sm-1 {
    max-width: 8.33333%;
    flex-basis: 8.33%;
  }

  .col.col-sm-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
  }

  .col.col-sm-11 {
    max-width: 91.6667%;
    flex-basis: 91.67%;
  }

  .col.col-sm-2 {
    max-width: 16.6667%;
    flex-basis: 16.67%;
  }

  .col.col-sm-first {
    order: -1;
  }

  .col.col-sm-last {
    order: 1;
  }

  .btn {
    padding: .5em 1em;
    font-size: .9rem;
  }

  .form, .form-success {
    min-width: auto;
  }

  .styles__section-label {
    padding-bottom: 10px;
  }

  .styles__nav-link {
    text-align: left;
    padding: .6em 0;
    display: block;
  }

  .styles__nav-link.cc-cta {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .styles__nav-link.cc-cta:hover {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
  }

  .styles__nav-btn {
    margin-top: -2px;
    padding: 0 2px;
    font-size: 1.8rem;
    line-height: 1;
  }

  .styles__nav-btn:hover {
    background-color: var(--dark-gray);
  }

  .styles__nav-btn.w--open {
    background-color: var(--dark-gray);
    border-radius: 4px;
  }

  .styles__nav-menu {
    background-color: var(--dark-gray);
    padding: 12px 5% 20px;
  }

  .styles__nav-btn-icon {
    width: 28px;
    height: 28px;
  }

  .paragraph-1-25 {
    font-size: 1.15rem;
  }

  .paragraph-1-5 {
    font-size: 1.3rem;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .u-p-0 {
    padding: 0;
  }

  .u-pt-0 {
    padding-top: 0;
  }

  .nav-menu {
    display: none;
  }

  .nav-logo {
    font-size: .9rem;
  }

  .nav-skip-link {
    text-align: left;
  }

  .hero-subtext {
    max-width: 300px;
  }

  .subtext-block {
    max-width: 250px;
  }

  .subtext-block.cc-contact {
    max-width: 440px;
  }

  .modal-close_btn-old {
    font-size: 1.8rem;
  }

  .modal-close_btn {
    font-size: 1.2rem;
  }

  .stack-icon {
    margin-left: .35em;
    margin-right: .35em;
  }

  .card-footer {
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .card-footer-info {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .esc-to-close {
    display: none;
  }

  .case-study_img {
    margin-top: 0;
    margin-bottom: 0;
  }

  .about_img {
    aspect-ratio: auto;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 2rem;
  }

  .container {
    width: 86%;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-xs-11 {
    max-width: 91.6667%;
    flex-basis: 91.67%;
  }

  .col.col-xs-6 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col.col-xs-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
  }

  .col.col-xs-4 {
    max-width: 33.3333%;
    flex-basis: 33.33%;
  }

  .col.col-xs-3 {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col.col-xs-7 {
    max-width: 58.3333%;
    flex-basis: 58.33%;
  }

  .col.col-xs-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
  }

  .col.col-xs-9 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col.col-xs-2 {
    max-width: 16.6667%;
    flex-basis: 16.67%;
  }

  .col.col-xs-12 {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-xs-5 {
    max-width: 41.6667%;
    flex-basis: 41.67%;
  }

  .col.col-xs-1 {
    max-width: 8.33333%;
    flex-basis: 8.33%;
  }

  .col.col-xs-first {
    order: -1;
  }

  .card-body.cc-benefits {
    padding-left: 16px;
    padding-right: 16px;
  }

  .card-body.cc-modal {
    padding: 48px 16px;
  }

  .styles__row-example {
    height: auto;
  }

  .styles__nav-menu {
    padding-left: 7%;
    padding-right: 7%;
  }

  .u-mt-0 {
    margin-top: 0;
  }

  .u-mb-0 {
    margin-bottom: 0;
  }

  .u-m-0 {
    margin: 0;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .u-p-0 {
    padding: 0;
  }

  .u-pt-0 {
    padding-top: 0;
  }

  .u-border {
    width: 86%;
  }

  .card-header.cc-modal {
    padding-left: 16px;
    padding-right: 16px;
  }

  .nav-menu {
    padding-left: 7%;
    padding-right: 7%;
  }

  .footer-div {
    flex-direction: column;
  }

  .footer-link {
    margin-bottom: 2em;
  }

  .input-grid {
    grid-template-columns: 1fr;
  }

  .modal-container {
    width: 86%;
  }

  .stack-wrapper {
    min-width: 100%;
    flex: none;
    justify-content: space-around;
    display: flex;
    position: relative;
  }

  .stack-wrapper.cc-mob-only {
    display: flex;
  }

  .stack-carousel {
    margin-left: -8%;
    margin-right: -8%;
    display: flex;
    overflow: hidden;
  }

  .embed-icon.cc-warn {
    margin-bottom: .5em;
  }

  .card-footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .warning-text {
    flex-direction: column;
  }

  .contact-btn-grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .about_img {
    aspect-ratio: 1 / 1;
  }
}

#w-node-_08481532-ee43-144c-e1a3-222721d5c148-959cb591 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-dca93001-ef25-851c-2bf1-5bfbeabdea86-959cb591 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_034c9923-0897-f559-7c69-b4c1d452c923-959cb591 {
  grid-area: 2 / 1 / 3 / 2;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geist Variable';
  src: url('../fonts/GeistVariableVF.woff2') format('woff2');
  font-weight: 100 1100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter Variable';
  src: url('../images/') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono Variable';
  src: url('../fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}