---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow: /401
Disallow: /404
Disallow: /adatvedelem
Disallow: /admin

Sitemap: https://palnorman.com/sitemap.xml
